In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data/ist.csv')

/Users/josephdespres/my_env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (31) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df

,HOSPNUM,RDELAY,RCONSC,SEX,AGE,RSLEEP,RATRIAL,RCT,RVISINF,RHEP24,...,DEAD8,H14,ISC14,NK14,STRK14,HTI14,PE14,DVT14,TRAN14,NCB14
0,1,17,D,M,69,Y,NaN,Y,Y,NaN,...,0,0,0,0,0,0,0,0,0,0
1,1,10,F,M,76,Y,NaN,Y,N,NaN,...,0,0,0,0,0,0,0,0,0,0
2,1,43,F,F,71,N,NaN,Y,N,NaN,...,0,0,0,0,0,0,0,0,0,0
3,1,6,F,M,81,N,NaN,N,N,NaN,...,0,0,0,0,0,0,0,0,0,0
4,4,20,F,M,78,N,NaN,N,N,NaN,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19430,255,42,F,M,66,N,N,Y,Y,N,...,0,0,0,0,0,0,0,0,0,1
19431,255,47,F,M,75,N,N,Y,Y,N,...,0,0,0,0,0,0,0,0,0,0
19432,341,21,F,M,77,N,N,Y,N,N,...,0,0,1,0,1,0,0,0,0,0
19433,255,40,D,F,87,N,N,Y,Y,N,...,0,0,0,0,0,0,0,0,0,0
19434,255,15,F,M,54,N,N,Y,Y,N,...,0,0,0,0,0,0,0,0,0,0